*{
    box-sizing: border-box;

}
body{
    background-color: whitesmoke;
}
#all {
    background-color: lightsteelblue;
    border-radius: 5px;
    border: 2px solid black;

}
#roll{
    background-color: gainsboro;
    border-radius: 5px;
    border: 2px solid black;
}